MediaBrowser.Channels.TouTv/Service References/TouTvApi/TouTVAPIService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.tou.tv/v1/TouTVAPIService.svc?xsd=xsd2" namespace="RC.Svc.Web.TouTV" />
  <xs:import schemaLocation="http://api.tou.tv/v1/TouTVAPIService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://api.tou.tv/v1/TouTVAPIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RC.Svc.Web.TPF" />
  <xs:element name="GetArborescence">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArborescenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="RC.Svc.Web.TouTV" minOccurs="0" name="GetArborescenceResult" nillable="true" type="q1:ArborescenceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlocPromo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlocPromoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="RC.Svc.Web.TouTV" minOccurs="0" name="GetBlocPromoResult" nillable="true" type="q2:BlocPromoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlocPromoItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlocPromoItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="RC.Svc.Web.TouTV" minOccurs="0" name="GetBlocPromoItemsResult" nillable="true" type="q3:ArrayOfBlocPromoItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollections">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="RC.Svc.Web.TouTV" minOccurs="0" name="GetCollectionsResult" nillable="true" type="q4:ArrayOfCollectionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageRepertoire">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageRepertoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="RC.Svc.Web.TouTV" minOccurs="0" name="GetPageRepertoireResult" nillable="true" type="q5:PageRepertoireDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageAccueil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageAccueilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="RC.Svc.Web.TouTV" minOccurs="0" name="GetPageAccueilResult" nillable="true" type="q6:PageAccueilDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="RC.Svc.Web.TouTV" minOccurs="0" name="GetPageGenreResult" nillable="true" type="q7:PageGenreDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageEmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emissionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageEmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="RC.Svc.Web.TouTV" minOccurs="0" name="GetPageEmissionResult" nillable="true" type="q8:PageEmissionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageEpisode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="episodeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageEpisodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="RC.Svc.Web.TouTV" minOccurs="0" name="GetPageEpisodeResult" nillable="true" type="q9:PageEpisodeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="RC.Svc.Web.TouTV" minOccurs="0" name="GetGenresResult" nillable="true" type="q10:ArrayOfGenreDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmissions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="RC.Svc.Web.TouTV" minOccurs="0" name="GetEmissionsResult" nillable="true" type="q11:ArrayOfEmissionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesForEmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emissionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesForEmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="RC.Svc.Web.TouTV" minOccurs="0" name="GetEpisodesForEmissionResult" nillable="true" type="q12:ArrayOfEpisodeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTerms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTermsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="RC.Svc.Web.TouTV" minOccurs="0" name="SearchTermsResult" nillable="true" type="q13:SearchResultsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTermsMax">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maximumNumberOfResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTermsMaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="RC.Svc.Web.TouTV" minOccurs="0" name="SearchTermsMaxResult" nillable="true" type="q14:SearchResultsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOldestEpisode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emissionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOldestEpisodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="RC.Svc.Web.TouTV" minOccurs="0" name="GetOldestEpisodeResult" nillable="true" type="q15:EpisodeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarrousel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playlistName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarrouselResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="RC.Svc.Web.TouTV" minOccurs="0" name="GetCarrouselResult" nillable="true" type="q16:ArrayOfCarrouselItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarrouselWithCollections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playlistName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarrouselWithCollectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="RC.Svc.Web.TouTV" minOccurs="0" name="GetCarrouselWithCollectionsResult" nillable="true" type="q17:ArrayOfCarrouselItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeaser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emissionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeaserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="RC.Svc.Web.TouTV" minOccurs="0" name="GetTeaserResult" nillable="true" type="q18:TeaserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPays">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPaysResult" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartenaires">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartenairesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RC.Svc.Web.TPF" minOccurs="0" name="GetPartenairesResult" nillable="true" type="q20:ArrayOfPartenaireDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmissionsContenusCourts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmissionsContenusCourtsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="RC.Svc.Web.TouTV" minOccurs="0" name="GetEmissionsContenusCourtsResult" nillable="true" type="q21:ArrayOfEmissionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesExclusiviteRogers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEpisodesExclusiviteRogersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="RC.Svc.Web.TouTV" minOccurs="0" name="GetEpisodesExclusiviteRogersResult" nillable="true" type="q22:ArrayOfEpisodeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmissionsExclusiviteRogers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmissionsExclusiviteRogersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="RC.Svc.Web.TouTV" minOccurs="0" name="GetEmissionsExclusiviteRogersResult" nillable="true" type="q23:ArrayOfEmissionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfiguration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RC.Svc.Web.TPF" minOccurs="0" name="GetConfigurationResult" nillable="true" type="q24:ArrayOfConfigurationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasoniTunesLinksForEmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emissionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeasoniTunesLinksForEmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/RC.Svc.Web.TPF" minOccurs="0" name="GetSeasoniTunesLinksForEmissionResult" nillable="true" type="q25:ArrayOfiTunesLinkDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>