MediaBrowser.Channels.TouTv/Service References/TouTvApi/TouTVAPIService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="RC.Svc.Web.TouTV" elementFormDefault="qualified" targetNamespace="RC.Svc.Web.TouTV" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.tou.tv/v1/TouTVAPIService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RC.TouTV.Contracts.DTOs" />
  <xs:import schemaLocation="http://api.tou.tv/v1/TouTVAPIService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://api.tou.tv/v1/TouTVAPIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArborescenceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Urls" nillable="true" type="tns:ArrayOfArborescenceUrlDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArborescenceDTO" nillable="true" type="tns:ArborescenceDTO" />
  <xs:complexType name="ArrayOfArborescenceUrlDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArborescenceUrlDTO" nillable="true" type="tns:ArborescenceUrlDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArborescenceUrlDTO" nillable="true" type="tns:ArrayOfArborescenceUrlDTO" />
  <xs:complexType name="ArborescenceUrlDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EpisodeCount" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsEmissionOffline" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEmissionUpcoming" type="xs:boolean" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RC.TouTV.Contracts.DTOs" minOccurs="0" name="UrlType" type="q1:ArborescenceUrlTypeEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArborescenceUrlDTO" nillable="true" type="tns:ArborescenceUrlDTO" />
  <xs:complexType name="BlocPromoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmissionId" type="xs:long" />
      <xs:element minOccurs="0" name="EventDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GabaritBlocPromo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageThumbMoyenL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURL1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlocPromoDTO" nillable="true" type="tns:BlocPromoDTO" />
  <xs:complexType name="ArrayOfBlocPromoItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlocPromoItemDTO" nillable="true" type="tns:BlocPromoItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlocPromoItemDTO" nillable="true" type="tns:ArrayOfBlocPromoItemDTO" />
  <xs:complexType name="BlocPromoItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollectionPlaylistId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CommanditeImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommanditeUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmissionId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="EventDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtraLargeImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LargeImageUrl" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RC.TouTV.Contracts.DTOs" minOccurs="0" name="Template" type="q2:BlocPromoItemTemplate" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WideImageUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlocPromoItemDTO" nillable="true" type="tns:BlocPromoItemDTO" />
  <xs:complexType name="ArrayOfCollectionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectionDTO" nillable="true" type="tns:CollectionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollectionDTO" nillable="true" type="tns:ArrayOfCollectionDTO" />
  <xs:complexType name="CollectionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackgroundImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImagePromoLargeI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePromoLargeJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePromoLargeL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePromoNormalK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfCollectionItemDTO" />
      <xs:element minOccurs="0" name="PlaylistId" type="xs:long" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TeaserDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeaserImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeaserLargeImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeaserMediumImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeaserTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectionDTO" nillable="true" type="tns:CollectionDTO" />
  <xs:complexType name="ArrayOfCollectionItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectionItemDTO" nillable="true" type="tns:CollectionItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollectionItemDTO" nillable="true" type="tns:ArrayOfCollectionItemDTO" />
  <xs:complexType name="CollectionItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Emission" nillable="true" type="tns:EmissionDTO" />
      <xs:element minOccurs="0" name="EpisodeCount" type="xs:int" />
      <xs:element minOccurs="0" name="FirstEpisode" nillable="true" type="tns:EpisodeDTO" />
      <xs:element minOccurs="0" name="PlaylistId" type="xs:long" />
      <xs:element minOccurs="0" name="SeasonCount" type="xs:int" />
      <xs:element minOccurs="0" name="SecondEpisode" nillable="true" type="tns:EpisodeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectionItemDTO" nillable="true" type="tns:CollectionItemDTO" />
  <xs:complexType name="EmissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContainsAds" type="xs:boolean" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateRetraitOuEmbargo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionOffline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionUnavailable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionUnavailableText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionUpcoming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionUpcomingText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstContenuCommandite" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstContenuJeunesse" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstExclusiviteRogers" type="xs:boolean" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="tns:GenreDTO" />
      <xs:element minOccurs="0" name="GeoTargeting" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ImageBackground" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageJorC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePromoLargeI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePromoLargeJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePromoLargeL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePromoNormalK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Network" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Network2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Network3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" type="xs:long" />
      <xs:element minOccurs="0" name="Partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaylistExist" type="xs:boolean" />
      <xs:element minOccurs="0" name="PromoDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoTitle" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ratings" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="RelatedURL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURL3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURL4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURL5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLImage1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLImage2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLImage3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLImage4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLImage5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLText1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLText2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLText3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLText4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLText5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeasonNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Show" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowSearch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategoryType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmissionDTO" nillable="true" type="tns:EmissionDTO" />
  <xs:complexType name="GenreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ImageBackground" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenreDTO" nillable="true" type="tns:GenreDTO" />
  <xs:complexType name="EpisodeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdPattern" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirDateFormated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirDateLongString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Captions" type="xs:boolean" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:long" />
      <xs:element minOccurs="0" name="ChapterStartTimes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClipType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Copyright" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateSeasonEpisode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionShort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeNumber" type="xs:int" />
      <xs:element minOccurs="0" name="EstContenuJeunesse" type="xs:boolean" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenreTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ImageBackground" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePlayerLargeA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePlayerNormalC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePromoLargeI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePromoLargeJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePromoLargeL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePromoNormalK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageThumbMicroG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageThumbMoyenL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageThumbNormalF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsMostRecent" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUniqueEpisode" type="xs:boolean" />
      <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguageCloseCaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LengthSpan" type="ser:duration" />
      <xs:element minOccurs="0" name="LengthStats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LengthString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiveOnDemand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MigrationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Musique" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Network" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Network2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Network3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextEpisodeDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalAirDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleAuthor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleCharacters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleCollaborator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleColumnist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleComedian" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleDesigner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleDirector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleGuest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleHost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleJournalist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeoplePerformer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeoplePersonCited" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleSpeaker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleWriter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURL3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURL4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURL5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLText1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLText2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLText3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLText4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLText5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLimage1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLimage2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLimage3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLimage4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedURLimage5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeasonAndEpisode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeasonAndEpisodeLong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeasonNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Show" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowSearch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowSeasonSearch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMedia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subtitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Team1CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Team2CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleSearch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlEmission" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseEpisodePromo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseSeasonPromo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iTunesLinkUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EpisodeDTO" nillable="true" type="tns:EpisodeDTO" />
  <xs:complexType name="PageRepertoireDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Emissions" nillable="true" type="tns:ArrayOfEmissionRepertoireDTO" />
      <xs:element minOccurs="0" name="Genres" nillable="true" type="tns:ArrayOfGenreDTO" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Pays" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageRepertoireDTO" nillable="true" type="tns:PageRepertoireDTO" />
  <xs:complexType name="ArrayOfEmissionRepertoireDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmissionRepertoireDTO" nillable="true" type="tns:EmissionRepertoireDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmissionRepertoireDTO" nillable="true" type="tns:ArrayOfEmissionRepertoireDTO" />
  <xs:complexType name="EmissionRepertoireDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnneeProduction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategorieDuree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateArrivee" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateDepart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateRetraitOuEmbargo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescriptionUnavailableText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionUpcomingText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ImageJorC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePromoNormalK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsGeolocalise" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreEpisodes" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NombreEpisodesParSaison" nillable="true" type="q5:ArrayOfKeyValueOfintint" />
      <xs:element minOccurs="0" name="NombreSaisons" type="xs:int" />
      <xs:element minOccurs="0" name="ParentId" type="xs:long" />
      <xs:element minOccurs="0" name="Pays" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaisonsDisponibles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitreIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmissionRepertoireDTO" nillable="true" type="tns:EmissionRepertoireDTO" />
  <xs:complexType name="ArrayOfGenreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenreDTO" nillable="true" type="tns:GenreDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenreDTO" nillable="true" type="tns:ArrayOfGenreDTO" />
  <xs:complexType name="PageAccueilDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlocPromo" nillable="true" type="tns:BlocPromoDTO" />
      <xs:element minOccurs="0" name="EpisodesFavoris" nillable="true" type="tns:ArrayOfEpisodeDTO" />
      <xs:element minOccurs="0" name="Genres" nillable="true" type="tns:ArrayOfGenreDTO" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RC.TouTV.Contracts.DTOs" minOccurs="0" name="LibelleCollections" type="q6:LibelleCollectionEnum" />
      <xs:element minOccurs="0" name="SelectionADecouvrir" nillable="true" type="tns:SelectionDTO" />
      <xs:element minOccurs="0" name="SelectionCarrousel" nillable="true" type="tns:SelectionDTO" />
      <xs:element minOccurs="0" name="SelectionCarrouselPlusRecents" nillable="true" type="tns:SelectionDTO" />
      <xs:element minOccurs="0" name="SelectionPlusRecents" nillable="true" type="tns:SelectionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageAccueilDTO" nillable="true" type="tns:PageAccueilDTO" />
  <xs:complexType name="ArrayOfEpisodeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EpisodeDTO" nillable="true" type="tns:EpisodeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEpisodeDTO" nillable="true" type="tns:ArrayOfEpisodeDTO" />
  <xs:complexType name="SelectionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Episodes" nillable="true" type="tns:ArrayOfEpisodeDTO" />
      <xs:element minOccurs="0" name="PlaylistId" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectionDTO" nillable="true" type="tns:SelectionDTO" />
  <xs:complexType name="PageGenreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Genre" nillable="true" type="tns:GenreDTO" />
      <xs:element minOccurs="0" name="SelectionCarrousel" nillable="true" type="tns:SelectionDTO" />
      <xs:element minOccurs="0" name="SelectionCarrouselPlusRecents" nillable="true" type="tns:SelectionDTO" />
      <xs:element minOccurs="0" name="SelectionPlusRecents" nillable="true" type="tns:SelectionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageGenreDTO" nillable="true" type="tns:PageGenreDTO" />
  <xs:complexType name="PageEmissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Emission" nillable="true" type="tns:EmissionDTO" />
      <xs:element minOccurs="0" name="Episodes" nillable="true" type="tns:ArrayOfEpisodeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageEmissionDTO" nillable="true" type="tns:PageEmissionDTO" />
  <xs:complexType name="PageEpisodeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Emission" nillable="true" type="tns:EmissionDTO" />
      <xs:element minOccurs="0" name="Episode" nillable="true" type="tns:EpisodeDTO" />
      <xs:element minOccurs="0" name="EpisodePrecedent" nillable="true" type="tns:EpisodeDTO" />
      <xs:element minOccurs="0" name="EpisodesFavoris" nillable="true" type="tns:ArrayOfEpisodeDTO" />
      <xs:element minOccurs="0" name="ProchainEpisode" nillable="true" type="tns:EpisodeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageEpisodeDTO" nillable="true" type="tns:PageEpisodeDTO" />
  <xs:complexType name="ArrayOfEmissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmissionDTO" nillable="true" type="tns:EmissionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmissionDTO" nillable="true" type="tns:ArrayOfEmissionDTO" />
  <xs:complexType name="SearchResultsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModifiedQuery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfSearchResultDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResultsDTO" nillable="true" type="tns:SearchResultsDTO" />
  <xs:complexType name="ArrayOfSearchResultDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResultDataDTO" nillable="true" type="tns:SearchResultDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchResultDataDTO" nillable="true" type="tns:ArrayOfSearchResultDataDTO" />
  <xs:complexType name="SearchResultDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Emission" nillable="true" type="tns:EmissionDTO" />
      <xs:element minOccurs="0" name="Episode" nillable="true" type="tns:EpisodeDTO" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RC.TouTV.Contracts.DTOs" minOccurs="0" name="ResultType" type="q7:SearchResultDataTypeEnum" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResultDataDTO" nillable="true" type="tns:SearchResultDataDTO" />
  <xs:complexType name="ArrayOfCarrouselItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarrouselItemDTO" nillable="true" type="tns:CarrouselItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarrouselItemDTO" nillable="true" type="tns:ArrayOfCarrouselItemDTO" />
  <xs:complexType name="CarrouselItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollectionId" type="xs:long" />
      <xs:element minOccurs="0" name="EmissionId" type="xs:long" />
      <xs:element minOccurs="0" name="imgLR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imgNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imgXR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imgYR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlPage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarrouselItemDTO" nillable="true" type="tns:CarrouselItemDTO" />
  <xs:complexType name="TeaserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="couleur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imgBackground" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sousTitre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urlPage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeaserDTO" nillable="true" type="tns:TeaserDTO" />
</xs:schema>