MediaBrowser.Channels.TouTv/Service References/TouTvApi/TouTVAPIService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RC.TouTV.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RC.TouTV.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ArborescenceUrlTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Root" />
      <xs:enumeration value="Genre" />
      <xs:enumeration value="Emission" />
      <xs:enumeration value="Episode" />
      <xs:enumeration value="Collection" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ArborescenceUrlTypeEnum" nillable="true" type="tns:ArborescenceUrlTypeEnum" />
  <xs:simpleType name="BlocPromoItemTemplate">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Promo" />
      <xs:enumeration value="ArriveeProchaine" />
      <xs:enumeration value="NouvelleArrivee" />
      <xs:enumeration value="DepartImminent" />
      <xs:enumeration value="Collection" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BlocPromoItemTemplate" nillable="true" type="tns:BlocPromoItemTemplate" />
  <xs:simpleType name="LibelleCollectionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Collections" />
      <xs:enumeration value="LaCollection" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LibelleCollectionEnum" nillable="true" type="tns:LibelleCollectionEnum" />
  <xs:simpleType name="SearchResultDataTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Emission" />
      <xs:enumeration value="Episode" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchResultDataTypeEnum" nillable="true" type="tns:SearchResultDataTypeEnum" />
</xs:schema>